.footer-container {
  background: var(--color-background-primary);
  color: var(--color-text-primary);
  font-size: 12px;
  span,
  a {
    color: var(--color-text-primary);
  }
}

@media (max-width: 768px) {
  .footer-container {
    justify-content: center !important;
  }
}
