mat-grid-tile {
  border-bottom: solid 1px var(--color-border-primary);
  &:nth-child(3n-1) {
    app-card-trip {
      border-right: solid 1px var(--color-border-primary);
      border-left: solid 1px var(--color-border-primary);
    }
  }
}

@media (max-width: 1300px) {
  mat-grid-tile {
    &:nth-child(3n-1) {
      app-card-trip {
        border-right: none;
        border-left: none;
      }
    }
  }
}
