app-toolbar {
  width: calc(100% - 32%);
  position: absolute;
  z-index: 1;
  padding: 0 60px;
  color: var(--color-text-secondary);
}
.layout-container {
  background: var(--color-background-primary);
}
