mat-toolbar-row {
  p {
    font-size: 18px;
  }
  .options-container {
    border-left: 1px solid;
    border-right: 1px solid;
    margin: 0 12px;
    a {
      color: var(--color-text-secondary);
    }
  }
  .mat-icon-button {
    background: none;
    .mat-icon {
      font-size: 24px;
      color: var(--color-text-secondary) !important;
    }
  }
  .mat-icon {
    &.logo {
      width: auto;
      height: 50px;
      g#Group-16 {
        fill: var(--color-text-secondary);
      }
    }
  }
}
// TODO - CMS - Remove background when de fixed position is top
.mat-toolbar-multiple-rows {
  // background: var(--color-background);
  border-bottom: 1px solid;
}
