.mat-expansion-panel-body {
  padding: 0 !important;
}

.mat-expansion-panel-header-description {
  flex-grow: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-expansion-panel.mat-expansion-panel {
  box-shadow: none !important;
  .mat-expansion-indicator {
    padding: 10px;
  }

  .mat-expansion-panel-header:hover {
    background: none !important;
  }
}
