button {
  font-size: 12px !important;
  padding: 6px 5% !important;
  border-radius: 0 !important;
  border-color: var(--color-border-tertiary) !important;
}

.material-icons {
  color: var(--color-button-primary) !important;
  font-size: 40px;
  .mat-icon {
    line-height: 1 !important;
  }
  .mat-button-focus-overlay {
    display: none;
  }
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}
