.header-trip-container {
  position: relative;
  background-size: 100% 560px;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0 60px;
}
.information-container {
  width: 100%;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  color: var(--color-text-secondary);
}
