.header-trip-container {
  position: relative;
  background-size: 100% 560px;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0 60px;
}
.information-container {
  height: 560px;
  color: var(--color-text-secondary);
}
