@mixin information-container {
  border-bottom: 1px solid var(--color-border-primary);
  margin: 40px 122px;
  padding: 24px 0;
}

.trips-container {
  .upcoming-container {
    border-top: 1px solid var(--color-border-primary);
    @include information-container;
  }
  .past-container {
    @include information-container;
  }
}
