.trips-container {
  .on-going-container {
  }
  .upcoming-container {
    position: relative;
    border-top: 1px solid var(--color-border-primary);
    border-bottom: 1px solid var(--color-border-primary);
    margin: 40px 122px;
    padding: 24px 0;
    .add-trip-container {
      background: var(--color-background-secondary);
      height: 380px;
      border-radius: 0;
      border: 1px solid var(--color-border-secondary);
      margin: 0 16px;
      padding: 0;
      button {
        font-size: 12px;
        padding: 6px 24px;
        border-radius: 0;
        border-color: var(--color-border-tertiary);
      }
    }
  }
  .past-container {
    border-bottom: 1px solid var(--color-border-primary);
    margin: 40px 122px;
    padding: 24px 0;
  }
}
