.trips-container {
  .on-going-container {
  }
  .upcoming-container {
    position: relative;
    border-top: 1px solid var(--color-border-primary);
    border-bottom: 1px solid var(--color-border-primary);
    margin: 40px 122px;
    padding: 24px 0;
  }
  .past-container {
    border-bottom: 1px solid var(--color-border-primary);
    margin: 40px 122px;
    padding: 24px 0;
  }
}
