@use "sass:map";

/*FONT FAMILY*/
@font-face {
  font-family: "PlantinMTProRg";
  src: url("../fonts/PlantinMTProRg.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*COLORS*/
:root {
  --color-background-primary: #fff;
  --color-background-secondary: #f4f4f4;
  --color-text-primary: #303030;
  --color-text-secondary: #fff;
  --color-text-tertiary: #aaaaaa;
  --color-button-primary: #303030;
  --color-border-primary: #d5d5d5;
  --color-border-secondary: #e4e4e4;
  --color-border-tertiary: #a1a1a1;
}
